<div class="text-center">
  <form [formGroup]="loginForm" style="max-width: 480px;margin: auto;">
    <img class="mt-4" src="https://static.thenounproject.com/png/4291178-200.png">
    <h1 class="h3 mt-3 mb-3 ">Please Log In</h1>
    <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="Email Address"
      required autofocus>
    <input type="password" name="password" id="password" formControlName="password" class="form-control"
      placeholder="Password" required autofocus>
    <div class="row mt-4">
      <div class="col-sm-12 text-center">
        <button class="btn btn-primary btn-md me-3" type="button" (click)="onSubmit()">Login</button>
        <button class="btn btn-primary btn-md ms-3" type="button" (click)="onPatch()">Patch details</button>
      </div>
    </div>

  </form>
</div>
